body {
  background-color: beige;
}

h1 {
  color: cornflowerblue;
  transition: color 0.5s ease-in-out;
}

.active {
  color: tomato;
}

.hidden {
  display: none;
}

.login-layout {
  position: absolute;
  inset: 0;
  color: rgba(255, 255, 255, 0.85);
}

.background-item {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-right {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
}

.current-temp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.125rem;
}

.current-weather {
  display: flex;
  font-size: 1.625rem;
  font-weight: 400;
}
.current-city {
  opacity: 0.85;
  font-size: 0.8125rem;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  font-size: 56px;
}

#todo-message {
  font-size: 200%;
}

#greeting {
  font-size: 3.375rem;
  margin: 0px;
  margin-bottom: 40px;
}

#clock {
  font-size: 550%;
  margin: 40px;
  margin-bottom: 0px;
}

#loginBox,
#loggedInBox {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  padding-bottom: 10px;
}

#loginBox.hidden,
#loggedInBox.hidden {
  height: 0px;
}

.above {
  display: flex;
  flex: 1 1 100%;
}

#login-input,
#todo-input {
  border: none;
  text-align: center;
  background: 0 0;
  color: #fff;
  border-bottom: 2px solid #fff;
  outline: none;
  font-size: 30px;
  width: 100%;
}

.login-bottom {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  padding-bottom: 10px;
  justify-content: flex-end;
}

#quote {
  padding: 30px;
}

.quote-item {
  font-size: 1.125rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
}
